/* Importing Fonts from Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* Body */
body {
    font-family: "Roboto", sans-serif;
    background-color: black;
    color: white;
}

/* Navigation Bar */
nav {
    padding: 20px;
    /* margin: 20px; */
    background-color: rgba(0, 0, 0, 0.32);
    height: 10vh;
    font-size: 1.8rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s;
    border-bottom: solid #003eb25f;
    backdrop-filter: blur(20px);
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    border-bottom: solid #003fb2;
}

/* Header Section */

header {
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color-dodge;
    color: #fff;
    text-align: center;
    padding: 50px 0;
    height: 500px;
    font-family: "Nunito", sans-serif;
    margin-top: 60px;
}

header img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
    box-shadow: 0px 0px 240px 100px #003fb2;
    cursor: pointer;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}
.headline h1 {
    font-size: 3rem;
    margin: 0;
}

.headline p {
    font-size: 2rem;
}


.about,
.skills,
.contact {
    line-height: 3rem;
    font-size: 1.2rem;
    border-radius: 20px;
    margin: 20px;
    transition: 1s ease-in-out;
}

.about:hover,
.skills:hover,
.contact:hover {
    box-shadow: 0px 0px 230px 0px #003fb2;
}

.about h2, .skills h2, .contact h2 {
    color: #333;
}

.about-container {
    max-width: 100%;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.info {
    width: 50%;
}

.image {
    width: 50%;
}

.image img {
    filter: grayscale(1);
    width: 100%;
    transition: 1s ease-in-out;
    width: 90%;
    height: auto;
    border-radius: 50%;
    border: solid #003fb2;
}

.image img:hover {
    filter: grayscale(0);
    cursor: pointer;
}

.skills-container {
    max-width: 100%;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.contact-container {
    max-width: 100%;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    backdrop-filter: blur(100px);   
}

/* Footer */
footer {
    text-align: center;
    padding: 10px 0;
    font-size: 1rem;
    color: #333;
}

/* Scroll Bar CSS */
/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #003fb2;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #003fb2;
}

/* Media Query to make the webpage responsive */
@media screen and (max-width:800px) {
    .about-container {
        display: flex;
        flex-direction: column;
    }

    .info {
        width: 100%;
    }

    .image {
        width: 100%;
    }
}

@media screen and (max-width:400px) {
    nav{
        font-size: 1rem;
    }
}
